@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 11, 13, 33;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
}


body {
  color: rgb(var(--background-start-rgb));
  background: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.creativeBtn{
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
}
.creativeBtn:hover {
  color: #fff;
}
.creativeBtn span {
  position: relative;
  z-index: 9;
}
.creativeBtn:after {
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background:#000;
  position: absolute;
  display: block;
  left: 0;
  top:calc(-5vh);
  z-index: 0;
  scale: 0;
  transition: 0.3s ease-in-out;
}
.creativeBtn:hover:after{
  scale: 1.2;
}


/* components/Banner.module.css */

.product {
  position: absolute;
  right: 0;
  transform: translateX(60%);
  bottom: calc(-10vw);
  z-index: 2;
  width: 500px;
  transition: 0.7s;
}

.product .soda {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(-50%);
}

.soda {
  --left: 0px;
  background: var(--url) var(--left), url(/sodaimage/mockup.png) 0 0;
  background-size: auto 100%;
  width: 250px;
  aspect-ratio: 2 / 4;
  background-blend-mode: multiply;
  transition: 0.8s;
  mask-image: url(/sodaimage/mockup.png);
  mask-size: auto 100%;
}

.soda:nth-child(2) {
  opacity: 0;
}

.brandContainer:hover .product {
  bottom: 100px;
}

.brandContainer:hover .product .soda:nth-child(2) {
  opacity: 1;
  --left: 500px;
}

.brandContainer:hover .product .soda:nth-child(1) {
  opacity: 0;
  --left: 500px;
}

@media screen and (max-width: 1023px) {
  .soda {
    width: 250px;
  }
}

@media screen and (max-width: 767px) {
  .soda {
    width: 150px;
  }
  .product {
    bottom: -300px;
  }

  .brandContainer:hover .product {
    bottom: -150px;
  }

  .brandContainer:hover .product .soda:nth-child(2) {
    --left: 300px;
  }
}
